.product-section {
    width: calc(25% - 16px);
    margin: 0 8px 20px 8px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 12px 0.3px;
    border-radius: 5px;
    background: #fcfcfc;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.image-wrap {
    height: 100%;
    max-height: 175px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    position: relative;
}

img {
    display: block;
    height: 100%;
    min-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.title {
    padding: 10px 5px;
}

.title-link {
    text-decoration: none;
    font-size: 20px;
    color: #4d4d4d;
    font-weight: bold;
}
